html, body {
  margin: 0;
  padding: 0;
}
#footer {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  position: absolute;
  bottom: 0;
}
#textMsg {
  flex-grow: 11;
  padding: 10px 10px;
  line-height: 28px;
}
#btnSend {
  flex-grow: 1;
}
